html{
    font-family: 'Times New Roman', Times, serif;
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    background: chocolate;
    text-align: center;
    position:fixed;
}
.column{
    width: 33%;
    height: 70%;
    background: coral;
    display: inline-block;
}
section{
    width: 100%;
    height:fit-content;
    background: red;
    display: inline-block;
}
footer{
    background: cornflowerblue;
    height: 20%;
}
#searchbar{
    height: 50px;
    width: 300px;
    margin: auto;
    padding: 25px;
    background: red;
    position: relative;
    top: 100px;
}
#calendar{
    height: 50%;
    width: 50%;
    position: relative;
    right: 50;
}
#clock{
    height: 30px;
    width: 120px;
    background:green;
    margin: 50px auto;
    padding: 5px;
    border-radius: 10px;
    font-size: 25px;
    
}